@import "../../styles/colors.module";

.delete {
  position: relative;

  width: 10px;
  height: 10px;

  &:before, &:after {
    content: '';
    display: block;

    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 15px;
    height: 3px;

    border-radius: 999rem;

    background-color: $button-icon;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
